REDIS_URL=rediss://default:your_password@your-host.upstash.io:6379
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/dbname?retryWrites=true&w=majority
PORT=4000